
<div class="login-container">
  <div class="logo-container">
    <img src="assets/img/logo_full.jpg" alt="Logo" />
  </div>

  <h2>Connexion</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
    <label>Nom d'utilisateur</label>
    <input type="text" name="text" [placeholder]="'Nom dutilisateur'" formControlName="username" required />

    <label>Mot de passe</label>
    <input type="password" name="password" formControlName="password" required />

    <button type="submit" [disabled]="loginForm.invalid">Se connecter</button>
    <!--  <button (click)="reverseForgotPwd()">Mot de passe oublié</button>-->
  </form>
</div>
